/* RESET 
 */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

/* GENERAL 
*/
body{
        font-family: Arial, Helvetica, sans-serif;
    }

    main{
        height: calc(100vh - 100px);
    }
    footer{
        height: 100px;
    }

/* DEBUG 
*/
    .debug main{
        background-color: lightcoral;
    }
    .debug footer{
        background-color: aliceblue;
    }